{% extends 'base.html' %}
{% load ru_pluralize %}
<body>
{% block content %}
    <main class="container mt-3">
        <h1 class="display-5 mt-4">Летим {{ output }} </h1>
        <p class="mb-4">Найдено {{ count }} {{ ending_word_tour }}, от {{ min_price }} до {{ max_price }} и
            от {{ min_nights }} ночей
            до {{ max_nights }} ночей</p>
        <!-- CARDS -->
        <div class="row mt-5">
            {% for key, values in tours.items %}
                <div class="col-4">
                    <div class="card mb-4">
                        <img src="{{ values.picture }}" class="card-img-top img-fluid" alt="">
                        <div class="card-body">
                            <h2 class="h5 card-title">{{ values.title }}</h2>
                            <p class="card-text">{{ values.description }}</p>
                            <p><b>{{ values.date }}, {{ values.nights|add:1|ru_pluralize }}, {{ values.price }}
                                RUB, {{ values.stars }}
                                ★ </b>
                            </p>
                            <a href="{% url 'tour' key %}" class="btn btn-sm btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
