{% extends 'base.html' %}
<body>
{% block content %}
    <main class="container mt-3">
        <!-- HERO -->
        <section class="jumbotron text-center mt-4"
                 style="background: url('https://picsum.photos/1200/370'); background-position: center center">
            <h1 class="display-4" style="color: coral">Всякие туры</h1>
            <p class="lead" style="color: coral">{{ subtitle }}</p>
            <p class="mt-5 w-50 mx-auto" style="color: coral">{{ description }}</p>
        </section>
        <!-- CARDS -->
        <div class="row mt-5">
            {% for key, values in tours.items %}
                <div class="col-4">
                    <div class="card mb-4">
                        <div class="embed-responsive embed-responsive-16by9">
                            <img class="card-img-top embed-responsive-item" src="{{ values.picture }}" alt=""/>
                        </div>
                        <div class="card-body">
                            <h2 class="h5 card-title">{{ values.title }}</h2>
                            <p class="card-text">{{ values.description }}</p>
                            <a href="{% url 'tour' key %}" class="btn btn-sm btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
