{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="container">
    <section class="mt-3 pb-5">
        <h1 class="display-3 mt-4">{{ titles }} {{ stars }}</h1>
        <!-- HERO -->
        <p class="lead">{{ country }} {{ departure }} {{ nights }} ночей</p>
        <img src="{{ picture }}" class="w-75" alt="">
        <p class="my-4 w-75">{{ description }}</p>
        <a href="{% url 'main' %}" class="btn btn-success btn-lg">Купить тур за {{ price }}</a>
    </section>
</main>
{% endblock %}